os:
 - "linux"

sudo: required

language: haskell

ghc:
  - "7.10"
  - "8.0"
  - "8.2"
  - "8.4"

matrix:
  include:
    - os:       osx
      language: generic
      env:      BUILD_TYPE="dynamic" OSX_GHC_VER="8.2" PY_VER="3"
      ghc:      "8.2"
    - os:       osx
      language: generic
      env:      BUILD_TYPE="dynamic" OSX_GHC_VER="8.4" PY_VER="3"
      ghc:      "8.4"
    - os:       linux
      env:      BUILD_TYPE="dynamic" PY_VER="3.5"
      ghc:      "8.2"

env:
  - BUILD_TYPE="dynamic" PY_VER="3"

before_install:
  - travis/travis_before_install.sh

install:
  - travis/travis_install.sh

script:
  - python${PY_VER} --version
  - ghc --version
  - ghc -dynamic-too -shared -fPIC Test.hs -no-link
  - python${PY_VER} hyphen/build-extn.py --$BUILD_TYPE
  - python${PY_VER} hyphen_examples_full.py -v
