os:
 - "linux"

sudo: required

language: haskell

ghc:
  - "7.10"
  - "8.4"
  - "8.6"
  - "8.8"

matrix:
  include:
    - os:        osx
      language:  generic
      osx_image: xcode10.3
      env:       BUILD_TYPE="dynamic" OSX_GHC_VER="8.2" PY_VER="3"
      ghc:       "8.2"
    - os:        osx
      language:  generic
      osx_image: xcode10.3
      env:       BUILD_TYPE="dynamic" OSX_GHC_VER="8.6" PY_VER="3"
      ghc:       "8.6"
    - os:        osx
      language:  generic
      osx_image: xcode10.3
      env:       BUILD_TYPE="dynamic" OSX_GHC_VER="8.8" PY_VER="3"
      ghc:       "8.8"
    - os:        linux
      env:       BUILD_TYPE="dynamic" PY_VER="3.6"
      ghc:       "8.6"
    - os:        linux
      env:       BUILD_TYPE="dynamic" PY_VER="3.7"
      ghc:       "8.6"

env:
  - BUILD_TYPE="dynamic" PY_VER="3"

before_install:
  - travis/travis_before_install.sh

install:
  - travis/travis_install.sh

script:
  - python${PY_VER} --version
  - ghc --version
  - ghc -dynamic-too -shared -fPIC Test.hs -no-link
  - python${PY_VER} hyphen/build-extn.py --$BUILD_TYPE
  - python${PY_VER} hyphen_examples_full.py
  - # Test that the signal mode fancy stuff works (and that we get the expected behaviour with it disabled)
  - python${PY_VER} test_tools/interrupting_after.py 30 python${PY_VER} test_tools/test_expecting_interruption.py python 40 0 33
  - python${PY_VER} test_tools/interrupting_after.py 30 python${PY_VER} test_tools/test_expecting_interruption.py haskell 40 0 33
  - python${PY_VER} test_tools/interrupting_after.py 30 python${PY_VER} test_tools/test_expecting_interruption.py lazy 40 31 100
  - python${PY_VER} test_tools/interrupting_after.py 30 python${PY_VER} test_tools/test_ei_with_nuisance_threads.py python 5 40 0 33
  - python${PY_VER} test_tools/interrupting_after.py 30 python${PY_VER} test_tools/test_ei_with_nuisance_threads.py haskell 5 40 0 33
  - # Test that releasing the GIL works (and that we get the expected behavior with it disabled)
  - python${PY_VER} test_tools/test_GIL_release.py fancy 5 5 5 12
  - python${PY_VER} test_tools/test_GIL_release.py lazy 5 5 24 100
  - # Now test everything that still makes sense without the threaded Haskell rts
  - python${PY_VER} hyphen/build-extn.py --$BUILD_TYPE --not-threaded
  - python${PY_VER} hyphen_examples_full.py
